html {


  body {


    .site-content {

      #pricing {
        padding: 2em 5vw;

        p {
          padding: 1em 0;
        }

        .packages {
          margin-top: 1em;

          .package {
            margin: 1em 0 2em 0;
            padding: 1.5em;
            @include box-shadow(0, 1px, 5px, $gray);
            @include border-radius(10px);
            position: relative;

            &:hover {
              .package__popular {
                transform: scale(1.3) rotate(-315deg);
                transition: all .5s ease-in;
              }
            }

            &__popular {
              position: absolute;
              top: 18px;
              right: -23px;
              color: white;
              letter-spacing: 1px;
              z-index: 9;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all .5s ease-in;
              transform: rotate(45deg);

              div {          
                @include font-size(12px);
                background: $primary;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
              }

              &:before{
                content: "";
                width: 0;
                height: 0;
                border-right: 10px solid $primary;
                border-left: 10px solid transparent;
                border-bottom: 10px solid $primary;
                border-top: 10px solid transparent;
              }

              &:after{
                content: "";
                width: 0;
                height: 0;
                border-left: 10px solid $primary;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $primary;
                border-top: 10px solid transparent;
              }

            }

            &__price {
              margin-top: 1em;
            }
            
            .btn {
              width: 100%;
              @include font-size(18px);

              i {
                margin-right: 1em;
              }

            }
            

          }

        }

        .pricing__inquiry {
          
          h3 {
            @include font-size(22px);
          }
          
          a {
            margin-top: 2em;
          }

        }
      }

    }

    
  }


}