html {


  body {


    .site-content {

      #pricing {
        padding: 2em 5vw;

        p {
          padding: 1em 0;
        }

        

        .pricing__inquiry {
          
          h3 {
            @include font-size(22px);
          }
          
          a {
            margin-top: 2em;
          }

        }
      }

    }

    
  }


}