/*----------------------------
  PARTIAL - DEFAULT STYLES
----------------------------*/
* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

body {
  font-family: $font-p;
  font-size: 1rem;
  color: $dark-gray;
}

::-webkit-scrollbar {
  background: $light-gray;
  height: 5px;
  margin: 1em 0;
  cursor: pointer;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-thumb {
  background: $gray;
}

hr {
  margin: 2em 0;
}

.hr-bar {
  position: relative;
  background: $light-gray;
  height: .4em;
  width: 15em;
  margin: 1em 0;
  border: none;

  &:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20%;
    background: $primary;
    height: 100%;
  }

}



/*----------------------------
  PARTIAL - BUTTONS
----------------------------*/


.btn {
  display: inline-block;
  border: 1px solid $gray;
  padding: 1em 1.3em;
  background: white;
  color: $dark-gray;

  &:hover {
    background: $primary;
    color: white;
    border: 1px solid rgba(0,0,0,0);
    @include transition(background, 0.3s, ease-in);
  }

  i {
    margin-left: 10px;
  }

  &--transparent {
    opacity: 0.8;
  }

  &--primary {
    background: $primary;
    color: white;
    border: none;

    &:hover {
      border: none;
      background: darken($primary, 15%);
      @include transition(background, 0.5s, ease-in);
    }
  }
  
  &--secondary {
    background: $secondary;
    color: white;
    border: none;

    &:hover {
      border: none;
      background: lighten($secondary, 15%);
      @include transition(background, 0.5s, ease-in);
    }
  }

}




/*----------------------------
  PARTIAL - DEFAULT ANCHOR TEXTS
----------------------------*/

a {
  color: $primary;
  text-decoration: none;
  vertical-align: baseline;
  
  &:hover {
    color: darken($primary, 20%);
    @include transition(color, 0.2s, ease-in); 
  }

}





/*----------------------------
  PARTIAL - TOOLTIP
----------------------------*/

.tooltip {
  position: relative;
  cursor: pointer;
  color: $light-gray !important;

  span {
    display: none;
    position: absolute;
    bottom: 25px;
    left: -92px;
    background: rgba(0,0,0,0.9);
    width: 200px;
    color: white;
    font-family: Lato Light;
    @include font-size(12px);
    padding: 0.8em;
    @include border-radius(10px);
    line-height: 1.6em;
    @include transition(all, 1s, ease-in);
    &:after {
      height: 0;
      padding: 0;
      content: '';
      border-top: 5px solid rgba(0,0,0,0.9);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position: absolute;
      bottom: -5px;
      left: calc(50% - 4px);
    }

  }

  &:hover {
    span {
      display: block;
    }
  }
}






/*----------------------------
  PARTIAL - DEFAULT HEADINGS STYLE
----------------------------*/
h1, h2, h3, h4, h5, h6{
  @include font-heading(32px, $dark-gray, normal, 1.6em);
  
  a {
    color: $dark-gray;
    
    &:hover {
      color: $primary;
    }
  }

}

h1, h2, h3 {
  @include font-size(32px);
}

h4 {
  @include font-size(22px);
}
h5 {
  @include font-size(26px);
}

p {
  @include p-text(1rem, $dark-gray, normal, 1.6em);

}

.fill-space {
  height: 63vh;
}



/*----------------------------
  PARTIAL - DEFAULT LIST STYLES
----------------------------*/


.page-blog {
  ul, ol {
    margin: 1em;
  }
  
  ul {
    list-style: disc;
    list-style-position: inside;
    li {
      line-height: 1.6em;
    }  
    
  }
  
  ol {
    list-style: decimal;
    list-style-position: inside;
    li {
      line-height: 1.6em;
    }  
    
  }
}



.post__breadcrumbs {
  margin: 0 0 0.5em 0;
  padding: 0 0 0.5em 0;
  line-height: 1.6em;
  overflow: auto;
  white-space: nowrap;

  a {
    color: $dark-gray;

    &:hover {
      color: $primary;
    }

  }

  i {
    margin: 0 1em;
    @include font-size(12px);
  }
}

.package__features {
  margin-top: 1em;

  li {
    padding: 0.8em 0;
    line-height: 1.6em;

    &.feature--inactive {
      color: $light-gray;
    }

    i {
      margin-right: 1em;

      &.fas {
        color: $check;
      }

      &.fa {
        color: $check;
      }

      &.fab {
        color: $check;
      }
    }
    
  }

}


.packages {
  margin-top: 1em;

  .package {
    margin: 1em 0 2em 0;
    padding: 1.5em;
    @include box-shadow(0, 1px, 5px, $gray);
    @include border-radius(10px);
    position: relative;

    &:hover {
      .package__popular {
        transform: scale(1.3) rotate(-315deg);
        transition: all .5s ease-in;
      }
    }

    &__popular {
      position: absolute;
      top: 18px;
      right: -23px;
      color: white;
      letter-spacing: 1px;
      z-index: 9;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s ease-in;
      transform: rotate(45deg);

      div {          
        @include font-size(12px);
        background: $primary;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
      }

      &:before{
        content: "";
        width: 0;
        height: 0;
        border-right: 10px solid $primary;
        border-left: 10px solid transparent;
        border-bottom: 10px solid $primary;
        border-top: 10px solid transparent;
      }

      &:after{
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid $primary;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $primary;
        border-top: 10px solid transparent;
      }

    }

    &__price {
      margin-top: 1em;
    }
    
    .btn {
      width: 100%;
      @include font-size(18px);

      i {
        margin-right: 1em;
      }

    }
    

  }

}


/*----------------------------
  PARTIAL - DEFAULT FORM STYLES
----------------------------*/


input, textarea, select, button {
  padding: 1em 1.3em;
  outline: none;
  font-size: 1em;
  font-family: "Lato";

  @include placeholder {
    color: $gray;
  }

}

select {
  cursor: pointer;
}

input {

  &[type="submit"]{
    cursor: pointer;
  }

  &[type="checkbox"]{
    margin: 0 .5em 0 0;
    width: auto !important;
  }

}

button {
  cursor: pointer;
}

label {
  display: flex;
  padding: 1em 0 0.5em 0;
  font-weight: bold;
  cursor: pointer;
}

.input-format {
  padding: 0 0 1em 0;
  @include font-size(12px);
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  margin: 0;
  padding: 1em;
  border: 1px solid $error;
  color: $error;
}

.currency {
  @include font-size(12px);
  margin-right: 5px;
}


.dropdown {
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .drowpdown__value {
      flex-grow: 1;
    }

    &:after {
      
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-angle-down);
      margin-left: 1em;
    }

  }

  &__options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    color: $dark-gray;

    .dropdown__option {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background: $light-gray;
      }

    }

  }

  &.dropdownIsToggled {
      
    .dropdown__options {
      display: block;
      
      &:hover {
        display: block;
      }

    }

    .dropdown__selected {

      &:after {
        content: fa-content($fa-var-angle-up);
        @include transition(all, 1s, ease-in);
      }

    }

  }

}






/*----------------------------
  PARTIAL - ANIMATIONS
----------------------------*/


// ANIMATION SAMPLES
@include keyframes(zoom) {
  0% { 
    transform: scale(1);
  }
  25% { 
    transform: scale(1.05);
  }
  50% { 
    transform: scale(1);
  }
  75% { 
    transform: scale(1.05);
  }
  90% {
    transform: scale(1);
  }
}

@include keyframes(bounce) {
  25% { 
    transform: translateY(-5px);
  }
  50% { 
    transform: translateY(0);
  }
  75% { 
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(0);
  }
}


@include keyframes(animate) {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: lighten($link, 20%);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: -1;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.anim-zoom {

  @include animation(zoom);
  animation-duration: 2s;

}

.anim-bounce {
  @include animation(bounce);
  animation-duration: 5s;
}



// .wpcf7-checkbox .wpcf7-list-item input[type=checkbox], .wpcf7-checkbox .wpcf7-list-item input[type=radio], .radio .wpcf7-list-item input[type=checkbox], .radio .wpcf7-list-item input[type=radio] {
//   /* display: none; */
//   position: absolute;
//   z-index: 123;
//   left: -1px;
//   opacity: 0;
// }










/*----------------------------
  PARTIAL - BOX LAYOUTS
----------------------------*/

.box {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;

  &--padding {
    padding: 1em 5vw;
  }
  
  &--margin{
    margin: 1em 5vw;
  }

}







/*----------------------------
  PARTIAL - MODAL
----------------------------*/


.js-page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;  
  background: rgba(0,0,0,0.5);
}


.modal-shown {
  overflow: hidden !important;

  .js-page-overlay {
    display: block;
  }

  .modal{
    transform: translateX(270px);
    transition: 800ms ease all;
  }

}

.modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 270px;
  height: 100%;
  top: 0;
  left: -270px;
  transition: 800ms ease all;

  &__content{
    padding: 1.5em;
    background: white;
    color: black;
    height: 100%;
  }

}




/*----------------------------
  PARTIAL - MENU
----------------------------*/

.menu {

  li {
    padding: 1em 0;
    
    a{
      color: white;

      &:hover {
        color: $primary;
      }

    }

  }

}




/*----------------------------
  PARTIAL - QUICK CLASSES
----------------------------*/
img.responsive {
  width: 100%;
  height: auto;
}



/*----------------------------
  PARTIAL - WORDPRESS DEFAULTS
----------------------------*/


.pagination {
  margin-top: 2em;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  
    a, span {
      padding: 0.7em 0.8em;
      color: $dark-gray;
    }

    > a {
      @include border-radius(50%);
      padding: 0.7em 1em;
      background: $light-gray;
      margin: 0 0.5em;
      
      &:hover {
        background: $primary;
        color: white;
      }

    }

    .page-numbers-container {
      display: flex;
      background: $light-gray;
      @include border-radius(0.5em);
      padding: 0 0.5em;

      span {
        background: $primary;
        color: white;
        @include border-radius(0.4em);
        @extend .anim-bounce;
        animation-iteration-count: infinite;
      }

      a {
        
        &:hover {
          color: $primary;
        }

      }
    
    }
  }

}


/*.rtl {}
.home {}
.blog {}
.archive {}
.date {}
.search {}
.paged {}
.attachment {}
.error404 {}
.single postid-(id) {}
.attachmentid-(id) {}
.attachment-(mime-type) {}
.author {}
.author-(user_nicename) {}
.category {}
.category-(slug) {}
.tag {}
.tag-(slug) {}
.page-parent {}
.page-child parent-pageid-(id) {}
.page-template page-template-(template file name) {}
.search-results {}
.search-no-results {}
.logged-in {}
.paged-(page number) {}
.single-paged-(page number) {}
.page-paged-(page number) {}
.category-paged-(page number) {}
.tag-paged-(page number) {}
.date-paged-(page number) {}
.author-paged-(page number) {}
.search-paged-(page number) {}*/





/*----------------------------
  PARTIAL - WORDPRESS POST DEFAULTS
----------------------------*/

/*.post-id {}
.post {}
.page {}
.attachment {}
.sticky {}
.hentry {}
.category-misc {}
.category-example {}
.tag-news {}
.tag-wordpress {}
.tag-markup {}*/


/*----------------------------
  PARTIAL - WORDPRESS IMAGE DEFAULTS
----------------------------*/

/*.format-image {}
.format-gallery {}
.format-chat {}
.format-link {}
.format-quote {}
.format-status {}
.format-video {}*/



/*----------------------------
  PARTIAL - Default WISIWYG Editor Styles
----------------------------*/

/*.entry-content img {}
.alignleft, img.alignleft {}
.alignright, img.alignright {}
.aligncenter, img.aligncenter {}
.alignnone, img.alignnone {}
 
.wp-caption {}
.wp-caption img {}
.wp-caption p.wp-caption-text {}
 
.wp-smiley {}
 
blockquote.left {}
blockquote.right {}
 
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}
 
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}*/