/*----------------------------
  PARTIAL - DEFAULT STYLES
----------------------------*/
* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-p;
  font-size: 1rem;
  color: $dark-gray;

}

hr {
  margin: 2em 0;
}

.hr-bar {
  position: relative;
  background: $light-gray;
  height: .4em;
  width: 15em;
  margin: 1em 0;

  &:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20%;
    background: $primary;
    height: 100%;
  }

}



/*----------------------------
  PARTIAL - BUTTONS
----------------------------*/


.btn {
  display: inline-block;
  border: 1px solid $gray;
  padding: 1em 1.3em;
  background: white;
  color: $dark-gray;

  &:hover {
    background: $primary;
    color: white;
    border: 1px solid rgba(0,0,0,0);
    @include transition(background, 0.3s, ease-in);
  }

  i {
    margin-left: 10px;
  }

  &--transparent {
    opacity: 0.8;
  }

  &--primary {
    background: $primary;
    color: white;
    border: none;

    &:hover {
      border: none;
      background: darken($primary, 15%);
      @include transition(background, 0.5s, ease-in);
    }
  }
  
  &--secondary {
    background: $secondary;
    color: white;
    border: none;

    &:hover {
      border: none;
      background: lighten($secondary, 15%);
      @include transition(background, 0.5s, ease-in);
    }
  }

}




/*----------------------------
  PARTIAL - DEFAULT ANCHOR TEXTS
----------------------------*/

a {
  color: $link;
  text-decoration: none;
  vertical-align: baseline;
  
  &:hover {
    color: darken($link, 20%);
    @include transition(color, 0.5s, ease-in); 
  }

}





/*----------------------------
  PARTIAL - TOOLTIP
----------------------------*/

.tooltip {
  position: relative;
  cursor: pointer;
  color: $light-gray !important;

  span {
    display: none;
    position: absolute;
    bottom: 25px;
    left: -92px;
    background: rgba(0,0,0,0.9);
    width: 200px;
    color: white;
    font-family: Lato Light;
    @include font-size(12px);
    padding: 0.8em;
    @include border-radius(10px);
    line-height: 1.6em;
    @include transition(all, 1s, ease-in);
    &:after {
      height: 0;
      padding: 0;
      content: '';
      border-top: 5px solid rgba(0,0,0,0.9);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position: absolute;
      bottom: -5px;
      left: calc(50% - 4px);
    }

  }

  &:hover {
    span {
      display: block;
    }
  }
}






/*----------------------------
  PARTIAL - DEFAULT HEADINGS STYLE
----------------------------*/
h1, h2, h3, h4, h5, h6{
  @include font-heading(32px, $dark-gray, normal, 1.6em);
  
  a {
    color: $dark-gray;
    
    &:hover {
      color: $link;
    }
  }

}

h1, h2, h3 {
  @include font-size(32px);
}

h4 {
  @include font-size(22px);
}
h5 {
  @include font-size(26px);
}

p {
  @include p-text(1rem, $dark-gray, normal, 1.6em);
}




/*----------------------------
  PARTIAL - DEFAULT LIST STYLES
----------------------------*/


.page-blog {
  ul, ol {
    margin: 1em;
  }
  
  ul {
    list-style: disc;
    list-style-position: inside;
    li {
      line-height: 1.6em;
    }  
    
  }
  
  ol {
    list-style: decimal;
    list-style-position: inside;
    li {
      line-height: 1.6em;
    }  
    
  }
}

.package__features {
  margin-top: 1em;

  li {
    padding: 0.8em 0;
    line-height: 1.6em;

    &.feature--inactive {
      color: $light-gray;
    }

    i {
      margin-right: 1em;

      &.fas {
        color: $check;
      }

      &.fa {
        color: $check;
      }

      &.fab {
        color: $check;
      }
    }
    
  }

}



/*----------------------------
  PARTIAL - DEFAULT FORM STYLES
----------------------------*/


input, textarea, select, button {
  padding: 1em 1.3em;
  outline: none;
  font-size: 1em;

  @include placeholder {
    color: $gray;
  }

}

select {
  cursor: pointer;
}

input {

  &[type="submit"]{
    cursor: pointer;
  }

  &[type="checkbox"]{
    margin: 0 .5em 0 0;
    width: auto !important;
  }

}

button {
  cursor: pointer;
}

label {
  display: flex;
  padding: 1em 0 0.5em 0;
  font-weight: bold;
  cursor: pointer;
}

.input-format {
  padding: 0 0 1em 0;
  @include font-size(12px);
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  margin: 0;
  padding: 1em;
  border: 1px solid $error;
  color: $error;
}

.currency {
  @include font-size(12px);
  margin-right: 5px;
}


.dropdown {
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .drowpdown__value {
      flex-grow: 1;
    }

    &:after {
      
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-angle-down);
      margin-left: 1em;
    }

  }

  &__options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    color: $dark-gray;

    .dropdown__option {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background: $light-gray;
      }

    }

  }

  &.dropdownIsToggled {
      
    .dropdown__options {
      display: block;
      
      &:hover {
        display: block;
      }

    }

    .dropdown__selected {

      &:after {
        content: fa-content($fa-var-angle-up);
        @include transition(all, 1s, ease-in);
      }

    }

  }

}



// .wpcf7-checkbox .wpcf7-list-item input[type=checkbox], .wpcf7-checkbox .wpcf7-list-item input[type=radio], .radio .wpcf7-list-item input[type=checkbox], .radio .wpcf7-list-item input[type=radio] {
//   /* display: none; */
//   position: absolute;
//   z-index: 123;
//   left: -1px;
//   opacity: 0;
// }










/*----------------------------
  PARTIAL - BOX LAYOUTS
----------------------------*/

.box {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;

  &--padding {
    padding: 1em 5vw;
  }

}







/*----------------------------
  PARTIAL - MODAL
----------------------------*/


.js-page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;  
  background: rgba(0,0,0,0.5);
}


.modal-shown {
  overflow: hidden !important;

  .js-page-overlay {
    display: block;
  }

  .modal{
    transform: translateX(270px);
    transition: 800ms ease all;
  }

}

.modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 270px;
  height: 100%;
  top: 0;
  left: -270px;
  transition: 800ms ease all;

  &__content{
    padding: 1.5em;
    background: white;
    color: black;
    height: 100%;
  }

}




/*----------------------------
  PARTIAL - MENU
----------------------------*/

.menu {

  li {
    padding: 1em 0;
    
    a{
      color: white;

      &:hover {
        color: $primary;
      }

    }

  }

}




/*----------------------------
  PARTIAL - MENU
----------------------------*/
img.responsive {
  width: 100%;
  height: auto;
}



/*----------------------------
  PARTIAL - WORDPRESS DEFAULTS
----------------------------*/


/*.rtl {}
.home {}
.blog {}
.archive {}
.date {}
.search {}
.paged {}
.attachment {}
.error404 {}
.single postid-(id) {}
.attachmentid-(id) {}
.attachment-(mime-type) {}
.author {}
.author-(user_nicename) {}
.category {}
.category-(slug) {}
.tag {}
.tag-(slug) {}
.page-parent {}
.page-child parent-pageid-(id) {}
.page-template page-template-(template file name) {}
.search-results {}
.search-no-results {}
.logged-in {}
.paged-(page number) {}
.single-paged-(page number) {}
.page-paged-(page number) {}
.category-paged-(page number) {}
.tag-paged-(page number) {}
.date-paged-(page number) {}
.author-paged-(page number) {}
.search-paged-(page number) {}*/





/*----------------------------
  PARTIAL - WORDPRESS POST DEFAULTS
----------------------------*/

/*.post-id {}
.post {}
.page {}
.attachment {}
.sticky {}
.hentry {}
.category-misc {}
.category-example {}
.tag-news {}
.tag-wordpress {}
.tag-markup {}*/


/*----------------------------
  PARTIAL - WORDPRESS IMAGE DEFAULTS
----------------------------*/

/*.format-image {}
.format-gallery {}
.format-chat {}
.format-link {}
.format-quote {}
.format-status {}
.format-video {}*/



/*----------------------------
  PARTIAL - Default WISIWYG Editor Styles
----------------------------*/

/*.entry-content img {}
.alignleft, img.alignleft {}
.alignright, img.alignright {}
.aligncenter, img.aligncenter {}
.alignnone, img.alignnone {}
 
.wp-caption {}
.wp-caption img {}
.wp-caption p.wp-caption-text {}
 
.wp-smiley {}
 
blockquote.left {}
blockquote.right {}
 
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}
 
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}*/