@media only screen and (min-width: 481px){


  html {
    

    body {


      .site-content {
        #main {
          .intro {
            padding: 5em 5vw;
          }
        }
      }

      .site-footer {
        display: flex;
        justify-content: space-between;
        div {
          margin-bottom: 0;
        }

        aside {
          justify-content: flex-end;
        }

      }


    }


  }


}

@media only screen and (min-width: 769px){


  html{
    
    body { 


      &.is-home {
        
        .header-container {
          
          .header {
            background: transparent;
            padding: 2em 5vw;
            @include transition(padding, 0.5s, ease-in);
          }

        }

      }
    

      .header-container {
  
  
        .header {
    

          a {
  
            img {
              width: 70px;
              height: auto;
            }
  
          }
  
          .header__menu {
            display: none;
          }
          
          .header__right {
            display: flex;
  
            .menu {
              display: flex;
              li {
                padding: 0 1.5em;
                a {
                  &:hover {
                    color: $primary;
                  }
                }
              }
            }
          }
    
        }
  
        .search-form {
          padding: 1em 5vw;
        }
      }

      .site-content {

        #main {

          .jumbotron {
            align-items: center;
            max-height: 100vh;
            padding: 0 10vw;
            background-size: 140% auto;
            background-position: center;

            &__description {
              text-align: center;
              padding: 2em 0;
            }
          }

          .clients {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__info {
              flex: 0 0 40%;
            }
          
            &__gallery {
              flex: 0 0 50%;
            }

          }

        }

      }
      

    }
  }


}


@media only screen and (min-width: 801px){


  html {
    

    body {


      .site-content {


        #main {

          .intro {
            padding: 7em 5vw;

            &__description {
              h3 {
                @include font-size(32px);
              }
            }
          }

          .process {
            &__title {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .title__left {
                flex: 0 0 50%
              }
            }

            &__steps {
              display: flex;
              justify-content: space-around;

              .steps__box {
                flex: 0 0 30%;
              }

            }

          }

          .promotion {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            div {
              flex: 0 0 40vw;
              img {
                width: 100%;
                height: 100vw;
                object-fit: cover;
              }
            }
            aside {
              flex: 0 0 50vw;
              padding: 0 5vw 0 0;
            }
          }

        }


      }


    }


  }


}




@media only screen and (min-width: 960px){


  html {
    

    body {


      .site-content {


        #main {


          .intro {
            padding: 7em 5vw;

            &__img {
              flex: 0 0 50%;
              font-size: 1.4vw;
              margin-bottom: 0;
            }

            &__description {
              flex: 0 0 50%;
            }
          }


        }


      }


    }


  }


}






@media only screen and (min-width: 1025px) {


  html {
    body {


      .site-content {


        #main {
          
          .jumbotron {
            background-size: 100% auto;
            padding: 0 15vw;

            &__header{
              @include font-size(42px);
            }

          }
          
          .promotion {

            div {
              img {
                width: 100%;
                height: auto;
              }
            }

            aside {
              padding: 0 10vw 0 0;
            }

          }

        }


      }


    }
  }


}

@media only screen and (min-width: 1281px) {


  html {
    body {


      .site-content {


        #main {
          
          .jumbotron {
            background-size: 100% auto;
            padding: 0 25vw;

            &__header{
              @include font-size(52px);
            }
          }

        }


      }


    }
  }


}